---
layout: default
title: about
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl_featured_thumbnail}}/infoBanner.png" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h1>devwon</h1>
        <h2>Hyerin Won</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              who has the endless curiosity
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <img class="post-featuredImage" src="{{site.baseurl_featured_thumbnail}}/infoBanner.png" width="100%" height="100%" alt="">
        <h4>About</h4>
        <p>그녀는 요새 웹개발을 공부하고, 챗봇에 관심이 많고, 취미로 영상편집을 하고 있다. 전공은 경영&프로그래밍을 공부하는 경영정보학과이며, 풀스택으로 개발 가능한 멋있는 개발자가 되고싶은 소녀이다:) 이름을 걸고 개발을 하자는 마음에
          github id가 developer + won(성) = devwon 이다.<p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote"><i>"Everything is connected. That way, Do your best wherever you are." - Someone</i> 어디에 있든 최선을 다하며 살고 있다. 모든 것은 이어져있고, 쓸데없는 일은 어디에도 없으므로..</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>node JS로 쇼핑몰 구축(풀스택으로 결제까지)</li>
          <li>여유있는 사람되기(마음의 그릇 넓히기)</li>
          <li>여행 영상 만들기</li>
          <li>챗봇, 웹개발 등 개발 프로젝트 3개 이상 하기</li>
          <li>긍정적으로 생각하기</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>생각의 전환, 새로운 서비스 창업하기</li>
          <li>혁신적인 챗봇 서비스 런칭하기</li>
          <li>나누며 살기, 부모님 집 사드리기</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          My parents, Steve Jobs, All starup founder.
        </p>
        <h4>Favorite Companies</h4>
        <p>
          Apple, Google, IKEA, Kakao, Naver, Starbucks, Zappos, LinkedIn.
        </p>
        <h4>Favorite Startups</h4>
        <p>
          GitHub, Airbnb, Dropbox, Thinksflow, Netflix, Pinterest, Watcha, Carrot Market ,Slack, Dreamyoungs, Wanted.
        </p>
        <h4>Favorite Brands</h4>
        <p>
          Apple, Coca-Cola, COS, Muji, Hancom Talkafe.
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
