---
layout: default
title: about
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl_featured_thumbnail}}/love_3_for_thumbnail.png" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h1>1000-day anniversary</h1>
        <h2>Jonghyun 💗 Hyerin</h2>
        <!-- <h2>종현이와 혜린이의 💗</h2> -->
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              1000일동안 고마웠고 사랑해
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <center> 
          <img class="post-featuredImage" src="{{site.baseurl_posts_img}}love_1.png" width="70%" height="70%" alt="우리 사진1">
        <h2>To. 종현</h2><br>
        </center>
        <p>오빠 안녕~ㅎㅎ 색다르게 웹페이지 편지는 처음이지?
          토스 서버 개발자 답게 이번엔 웹으로 준비했어:) 우선 1000일을 진심으로 축하해,
          우리 서로 손을 맞잡고 같이 걸어온지 1000일이나 되었다니..
          너무너무 신기하고 매일이 새로워! 늘 내 곁에 있어줘서 고마워<p>
        <h4>우리의 재회</h4>
        <p class="u--startsWithDoubleQuote"><i>"때는 바야흐로 약 3년전, 2018년 12월</i> 취업한 오빠가 나를 보고싶어해서 우리의 연락이 닿았지~ 오랜만에 만나서 즐거웠고, 오빠가 생각보다 진지하고 차분한 사람이라고 그때 처음 느꼈어! 마냥 웃긴 사람인줄 알았거든ㅋㅋ..</p>
        <h4>나의 고백</h4>
        <p>2019년 1월 27일, 지금까지도 후회하지 않는 일 중에 하나야. 오빠에게 내 마음을 고백한 날!
        오빠라는 사람은 그때나 지금이나 한결같이 나에게 잘해줘서 고맙고 존경스러워! 가끔 오빠가 정신을 못차리고 나를 짜증나게 할 때가 있지만 단기기억상실증인걸 다행으로 생각하자^^ <p>
        <h4>우리의 연애</h4>
        <p>우리가 만나면서 많은 우여곡절이 있었지만 그 과정이 다 서로 2-30년(오빠 맞춤^^)을 다르게 살아오면서 서로 달랐던 부분들을 맞춰가는 과정이었다고 생각해! 물론 나보다 오빠가 맞춰주느라 고생이 많았지ㅎㅎ지금은 서로를 이전보다 더 잘 이해하고 있어서 다행이고, 크게 문제될 게 없어서 너무 다행이야! 나에게 맞춰주고 한결같은 표현을 해줘서 고마워:)<p>
        <h4>앞으로의 우리</h4>
        <p>
          부족한게 많은 나지만 앞으로도 오빠 곁에서 같이 목표를 향해 달려가고 싶어! 나는 오빠랑 노는게 제일 좋아~~ ㅎㅎ 오빠도 그렇지? 내가 오빠가 좋아하는거 많이 사줄게ㅋㅋ오빠 고야드 가방 고마워..내 첫 명품...! 오빠의 새로운 모습을 보았달까? 평생 잘 간직할게!!
        </p>
        <h4>마치며</h4>
        <p>
          오빠 요즘 오빠의 이직은 물론이고 이래저래 축하할 일이 많았는데, 그 순간에 내가 축하해줄 수 있어서 너무 다행이었어! 앞으로도 우리 서로 기쁘거나 슬프거나 무슨 일이 있어도 같이 헤쳐나가자. 이불 밖은 위험하니까 같이 가~~ㅎㅎ 이제 오빠는 책임님이 되었는데 책임감있게, 잘 해낼꺼라고 난 믿어! 나도 열심히 할게 지켜봐줘.

          다시 한번 1000일 축하해❤️🧡💛
        </p>
        <center>
          <h2>너무 너무 사랑해!!!!</h2>
        <p>
          - 인생 첫 1000일 이어서 신난 혜린이가💛
        </p>
        <img class="post-featuredImage" src="{{site.baseurl_posts_img}}love_6.png" width="70%" height="70%" alt="우리 사진2">
        <p><i>1000일 기념 일러스트 by 지이💚</i></p>
        </center>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
